.landing {
  background: url("./assets/geometry-background.png");
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.container {
    background: white
}